.emoji{
    position: relative;
    margin-left: 50px;
    margin-top: 100px;
}
.face{
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 230, 0);
}
.eye1{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    margin-left: 120px;
    margin-top: 140px;
}
.eyeball1{
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    margin-left: 145px;
    margin-top: 142px;
}
.eyeshade1{
    width: 20px;
    height: 10px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    background-color: gray;
    margin-left: 153px;
    margin-top: 144px;
}
.eye2{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    margin-left: 290px;
    margin-top: 140px;
}
.eyeball2{
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    margin-left: 310px;
    margin-top: 142px;
}
.eyeshade2{
    width: 20px;
    height: 10px;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    background-color: gray;
    margin-left: 317px;
    margin-top: 144px;
}
.eyebrow1{
    width: 75px;
    height: 8px;
    position: absolute;
    border-radius: 40px 40px 40px 40px;
    background-color: brown;
    margin-left: 110px;
    margin-top: 120px;
}
.eyebrow2{
    width: 75px;
    height: 8px;
    position: absolute;
    border-radius: 40px 40px 40px 40px;
    background-color: brown;
    margin-left: 300px;
    margin-top: 120px;
}
.mouth{
    width: 160px;
    height: 10px;
    position: absolute;
    border-radius: 40px 40px 40px 40px;
    background-color: red;
    margin-left: 170px;
    margin-top: 350px;
}
.tounge{
    width: 130px;
    height: 45px;
    position: absolute;
    border-radius: 0px 0px 40px 40px;
    background-color: rgb(241, 51, 51) ;
    margin-left: 185px;
    margin-top: 358px;
}